---
- name: Enforce config on Ansible Tower Nodes
  hosts: tower
  vars:
    puppet_environment: false
  tasks:
  
    #  Automate fix in this article:
    #+ https://access.redhat.com/solutions/3228681
    - name: Set fix path permission bug    
      file:
        path: '/var/lib/awx/venv/awx/lib/python2.7/site-packages/awx/plugins/inventory'
        recurse: yes
        state: directory
        owner: awx
        group: awx

    - name: Set Static Ansible Tower Configuration Files
      copy:
        owner: awx
        group: awx
        src: "{{ item['src'] }}"
        dest: "{{ item['dest'] }}"
        mode: "{{ item['mode'] | default('0640') }}"
      register: static_config_files
      with_items:
        - src: settings.py
          dest: /etc/tower/settings.py

    - name: Set Templated Ansible Tower Configuration Files
      template:
        owner: awx
        group: awx
        src: "{{ item['src'] }}"
        dest: "{{ item['dest'] }}"
        mode: "{{ item['mode'] | default('0640') }}"
      register: templated_config_files
      with_items:
        - src: remote_host_headers.py.j2
          dest: /etc/tower/conf.d/remote_host_headers.py

    - name: Force Ansible Tower Restart
      command: /usr/bin/ansible-tower-service restart
      when: "static_config_files|changed or templated_config_files|changed"

- name: Enable and run puppet to revert configuration changes neccessary for Tower Installation 
  hosts: all
  gather_facts: False
  tasks:

    - name: Start puppet service
      service:
        name: puppet
        state: started
        enabled: True
      when: puppet_environment

    - name: Manually trigger puppet agent run
      command: "/usr/bin/puppet agent --test --verbose"
      when: puppet_environment
      ignore_errors: true

    - name: Remove user from /etc/sudoers
      blockinfile:
        block: "#Temporary for Ansible Tower Update\n{{ deploy_user_name }} ALL=(ALL) NOPASSWD: ALL"
        dest: "/etc/sudoers"
        validate: "/usr/sbin/visudo -cf %s"
        state: absent
