---

- hosts: all
  become: yes
  become_method: sudo
  vars:
    deploy_user_name: 'testuser'
    deploy_user_home: "/home/{{ deploy_user_name }}"
    deploy_user_password: "redhat"
    create_deploy_user: True
    puppet_environment: False
    primary_server: "tower1"
    running_user: "admin"
  tasks:

    - name: Stop Puppet agent process
      service:
        name: puppet
        state: stopped
      when: puppet_environment

# Create a local user to get around issues with LDAP and default umask
# With LDAP connected, the default umask comes from LDAP, so we need to either have a service account in LDAP 
# with a umask of 0022, or use this workaround to create a local user, create and share keys and disconnect the LDAP.


    - name: Create a local user that will deploy Ansible Tower
      block:
    
        - name: Create a deploy user
          user:
            name: "{{ deploy_user_name }}"
            groups: wheel
            home: "{{ deploy_user_home }}"
            password: "{{ deploy_user_password }}"

        - name: Create ssh directory
          file:
            path: "{{ deploy_user_home }}/.ssh"
            state: directory
            mode: 0700
            owner: "{{ deploy_user_name }}"
            group: "{{ deploy_user_name }}"

        - name: Create ssh key on one machine
          command: "ssh-keygen -q -f /tmp/id_rsa -N ''"
          args:
            creates: "/tmp/id_rsa"
          delegate_to: localhost
          ignore_errors: true

        - name: Correct permissions on the keys
          file:
            path: "/tmp/{{ item }}"
            owner: "{{ running_user }}"
            group: "{{ running_user }}"
            state: file
          with_items:
            - id_rsa
            - id_rsa.pub
          delegate_to: localhost
          ignore_errors: true

        - name: Allow public key auth to deploy user
          authorized_key:
            user: "{{ deploy_user_name }}"
            state: present
            key: "{{ lookup('file', '/tmp/id_rsa.pub') }}"
          when: not ansible_check_mode

        - name: Copy keys to other boxes
          copy:
            src: "/tmp/{{ item }}"
            dest: "{{ deploy_user_home }}/.ssh/{{ item }}"
            owner: "{{ deploy_user_name }}"
            group: "{{ deploy_user_name }}"
          with_items:
          - id_rsa
          - id_rsa.pub

        - name: set mode on the keys
          file:
            path: "{{ deploy_user_home }}/.ssh/id_rsa"
            mode: 0700
            state: file

        - name: set mode on the keys
          file:
            path: "{{ deploy_user_home }}/.ssh/id_rsa.pub"
            mode: 0644
            state: file

        - name: Add user to /etc/sudoers
          blockinfile:
            block: "#Temporary for Ansible Tower Update\n{{ deploy_user_name }} ALL=(ALL) NOPASSWD: ALL"
            dest: "/etc/sudoers"
            validate: "/usr/sbin/visudo -cf %s"
            insertafter: EOF

# This "when" conditional controls the entire block section
      when: create_deploy_user

    #  All config changes done to /etc/sudoers and /etc/nsswitch
    #+ will be reverted by the post-install playbook

    - name: Read /etc/sudoers
      slurp:
        src: /etc/sudoers
      register: sudoers

    - name: Read /etc/nsswitch.conf
      slurp:
        src: /etc/nsswitch.conf
      register: nsswitch

    #  umask MUST be 0022 for Tower installation
    - name: Set correct umask in /etc/sudoers
      lineinfile:
        path: /etc/sudoers
        regexp: '^Defaults(.*)umask=(.{4})(.*)$'
        line: 'Defaults\1umask=0022\3'
        backrefs: yes
        backup: yes
        validate: '/usr/sbin/visudo -cf %s'
      when:
        - sudoers['content'] is defined
        - sudoers['content'] | b64decode | regex_search('(umask=.{4})')

    #  Not allowing root sudo may cause errors, depending on
    #+ user used to do installation.
    - name: Set correct root_sudo setting in /etc/sudoers
      lineinfile:
        path: /etc/sudoers
        regexp: '^Defaults(.*)!root_sudo(.*)$'
        line: 'Defaults\1root_sudo\2'
        backrefs: yes
        backup: yes
        validate: '/usr/sbin/visudo -cf %s'
      when:
        - sudoers['content'] is defined
        - sudoers['content'] | b64decode | regex_search('(!root_sudo)')

    #  To get correct sudoers and umask settings, we must use local 
    #+ sudoers config, not remote one from LDAP. This is only
    #+ a temporary change
    - name: Remove getting sudoers information from ldap in /etc/nsswitch
      lineinfile:
        path: /etc/nsswitch.conf
        regexp: '^sudoers:(.*)ldap(.*)$'
        line: "sudoers:    files"
        backrefs: yes
        backup: yes
      when:
        - nsswitch['content'] is defined
        - nsswitch['content'] | b64decode | regex_search('(sudoers:.*ldap)')

